@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

#header {
  background-image: url("Images/main.jpg");
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.logo-text {
  position: relative;
  color: rgb(103, 184, 45);
  font-size: 23px;
  margin: 0 auto;
  display: inline;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
}

.logo-span {
  color: rgb(110, 110, 110);
  font-family: 'Roboto', sans-serif;
}

#nav-bar {
  background-color: rgba(250, 250, 250, 0.911);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.082),
    0 3px 6px rgba(0, 0, 0, 0.096);
}

.nav-wrapper {
  max-width: 1160px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 30px;
  color: rgb(110, 110, 110);
  text-decoration: none;
  font-size: 17px;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: block;
  line-height: 1;
  cursor: pointer;
  position: relative;
  padding: 20px 0;
}

.nav-link::after {
  background-color: rgb(103, 184, 45);
  display: block;
  content: "";
  height: 4px;
  width: 0;
  left: 50%;
  bottom: 0;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: rgb(103, 184, 45);
}


input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.menu-elements {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 20px;
  right: 15px;
  height: 22px;
  width: 22px;
  display: none;
}

.element {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(103, 184, 45);
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.menu-elements>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.menu-elements>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.menu-elements>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}


.title-wrapper {
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(250, 250, 250);
  font-size: 75px;
  display: block;
  text-shadow: 1px 1px 1px rgb(110, 110, 110), 2px 2px 2px rgb(110, 110, 110);
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.order {
  display: flex;
  border: none;
  font-size: 15px;
  color: rgb(250, 250, 250);
  width: 150px;
  height: 45px;
  transition: 0.5s;
  background-color: rgb(103, 184, 45);
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-transform: uppercase;
}

.order:hover {
  background-color: rgb(110, 110, 110);
}

#edge {
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
  color: rgb(110, 110, 110);
  margin: 0;
  padding: 80px 10px 25px 10px;
  font-family: 'Ubuntu', sans-serif;
}

.edge-items {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 1200px;
  padding-bottom: 40px;
}

.edge-image {
  height: 45px;
  width: 45px;
}

.edge-item {
  display: block;
  max-width: 200px;
}

.edge-text {
  color: rgb(110, 110, 110);
  font-size: 18px;
}

.news {
  background-color: rgb(244, 252, 235);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.news-video {
  margin: 0;
  padding: 0;
  width: 700px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.news-text {
  width: 400px;
  background-color: rgb(255, 255, 255);
  color: rgb(110, 110, 110);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

.news-heading {
  padding: 50px 10px 5px 10px;
}

.news-list {
  margin-bottom: 15px;
  margin-left: 8%;
  margin-right: 8%;
  list-style-type: none;
}

.news-item {
  padding-bottom: 20px;
  font-size: 16px;
  position: relative;
}

.news-item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #67b82d;
  left: -20px;
  top: 12%;
  transform: rotate(45deg);
}

#menu {
  text-align: center;
  margin: 30px auto;
  background-color: rgb(250, 250, 250);
}

.menu-image {
  height: 132px;
  width: 173px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-item {
  background: linear-gradient(-45deg, rgb(244, 252, 235) 50%, rgba(255, 255, 255, 0.5) 50%);
  padding: 20px 30px;
  color: #6e6e6e;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  flex-basis: 230px;
  transition: all 0.5s ease-out;
}

.menu-item:hover {
  box-shadow: 0 28px 56px rgba(0, 0, 0, 0.25),
    0 20px 20px rgba(0, 0, 0, 0.22);
}

.menu-text {
  text-align: justify;
  display: inline-block;
  margin: 0;
  padding: 5px;
}

.menu-header {
  margin: 0;
  padding: 20px 10px 15px 10px;
}


.menu-order {
  display: flex;
  border: 1px solid rgb(110, 110, 110);
  font-size: 15px;
  color: rgb(110, 110, 110);
  width: 120px;
  height: 35px;
  transition: 0.5s;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 15px;
}

.menu-order:hover {
  background-color: rgb(110, 110, 110);
  color: white;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#contacts {
  text-align: center;
}

.contacts-inst {
  vertical-align: middle;
}

.img-container {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
  grid: repeat(3, 168px) / repeat(6, 168px);
}

.picture-wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contacts-image {
  width: 100%;
  margin: auto;
  transform: scale(1);
  transition: all 600ms ease-in-out;
}

.contacts-image:hover {
  transform: scale(1.1);
}

.picture1 {
  grid-row: 1/4;
  grid-column: 1/4;
}

.picture2 {
  grid-row: 1/3;
  grid-column: 4/6;
}

.contacts-text {
  font-family: 'Roboto', sans-serif;
  color: rgb(110, 110, 110);
  font-size: 18px;
  margin: 0 10px;
  padding: 0 0 10px 0;
}

.email-form {
  text-align: center;
  padding-bottom: 50px;
}

.send-email {
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
  width: 100%;
  height: 102%;
  background-color: rgb(250, 250, 250);
  display: none;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin:0 0;
  padding:0;
}

.send-text {
  color: rgb(110, 110, 110);
  font-size:18px;
  margin:0;
  padding: 10px 3% 10px 3%;
}

.sen-image {
  margin: 0;
  padding: 0; 
}

#form {
  max-width: 1200px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
}

#email {
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid rgb(110, 110, 110);
  background-color: rgb(250, 250, 250);
  color: rgb(110, 110, 110);
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  height: 38px;
}

#email:hover,
#email :focus {
  border-color: rgb(103, 184, 45);
}

#submit {
  border: none;
  width: 130px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(250, 250, 250);
  height: 38px;
  transition: all 0.5s ease;
  background-color: rgb(103, 184, 45);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  margin-left: -5px;
}

#submit:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(250, 250, 250);
}

#form input[type="email"] {
  font-size: 15px;
  padding: 2px 15px;
  width: 20%;
  height: 32px;
  font-family: 'Roboto', sans-serif;
}



footer {
  background-color: rgb(245, 252, 236);
}

.footer-container {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  padding: 10px 20px;
}

.footer-text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(110, 110, 110);
}

.social-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 0;
  padding: 15px 0 0 0;
}

.visually-hidden {
  display: none;
}

.social-button:hover path,
.social-button:focus path {
  fill: rgb(103, 184, 45);
}

.active {
  color: rgb(103, 184, 45);
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.overlay .popup {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 35vh;
  max-width: 750px;
  width: 85%;
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -35px;
  cursor: pointer;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  height: 71px;
  line-height: 71px;
  margin: 0;
  background-color: rgb(103, 184, 45);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.overlay .popup-form {
  padding: 2% 2% 2% 2%;
  color: rgb(110, 110, 110);
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}

.overlay .main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3% 2% 4% 2%;
}

.overlay .popup-form-header {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.overlay .popup-form__input {
  width: 60%;
  height: 56px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border: solid rgb(110, 110, 110) 1px;
  color: rgb(110, 110, 110);
  text-align: center;
  border-radius: 3px;
  margin: 0 1%;
  padding: 0;
}

.overlay .popup-form__btn {
  width: 30%;
  height: 56px;
  font-size: 18px;
  margin: 0 1%;
  padding: 0;
  background-color: transparent;
  color: rgb(103, 184, 45);
  border: 1px solid rgb(103, 184, 45);
  cursor: pointer;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.overlay .popup-form__btn:hover {
  background-color: rgb(103, 184, 45);
  color: rgb(255, 255, 255);
}

.send-form {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 55;
  border-radius: 3px;
}

.send-message {
  color: rgb(103, 184, 45);
  font-size: 30px;
  margin: 0;
  padding: 1% 2%;
  text-align: center;
}


@media (max-width: 1100px) {
  .img-container {
    grid: repeat(3, 145px) / repeat(6, 145px);
  }
}

@media (max-width: 986px) {
  .news {
    display: block;
  }

  .news-video {
    width: auto;
  }

  .news-text {
    width: auto;
    padding-bottom: 20px;
  }

  .news-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .news-item {
    flex-shrink: 0;
    width: 206px;
    margin-right: 50px;
    display: inline-block;
    text-align: center;
  }

  .img-container {
    grid: repeat(3, 135px) / repeat(6, 135px);
  }
}

@media (max-width: 915px) {
  .menu-items {
    display: block;
  }

  .menu-item {
    max-width: 300px;
    display: block;
    margin: 0 auto 30px auto;
  }

  .img-container {
    grid: repeat(6, 200px) / repeat(3, 200px);
  }

  .picture1 {
    grid-row: 1/4;
    grid-column: 1/4;
  }

  .picture2 {
    grid-row: 4/6;
    grid-column: 1/3;
  }

  #form input[type="email"] {
    width: 40%;
  }
}

@media (max-width: 770px) {
  .img-container {
    grid: repeat(6, 140px) / repeat(3, 140px);
  }

  .edge-items {
    flex-wrap: wrap;
  }

  .edge-item {
    flex-shrink: 0;
    width: 270px;
    max-width: 270px;
  }
}

@media (max-width: 693px) {
  .news-list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .title-wrapper {
    align-self: center;
    margin-right: 0;
    margin-top: 120px;
  }

  .edge-item {
    width: 250px;
    max-width: 250px;
  }
}

@media (max-width: 580px) {

  .news-item {
    width: 325px;
    text-align: left;
    margin-left: 40px;
  }

  .img-container {
    grid: repeat(6, 115px) / repeat(3, 115px);
    grid-gap: 10px;
  }

  .nav-links {
    opacity: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 200ms ease-in-out;
    background-color: rgba(250, 250, 250);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: -1;
  }

  .nav-link {
    font-size: 30px;
    margin: 0;
    padding: 30px 0;
  }


  .show {
    opacity: 1;
    pointer-events: all;
  }

  .menu-elements {
    display: block;
  }

  .logo-container {
    padding: 10px;
  }

  .nav-wrapper {
    justify-content: center;
  }

  h1 {
    font-size: 60px;
  }

  .edge-item {
    width: 180px;
    max-width: 180px;
  }

  #submit {
    width: 30%;
  }

  .main-form {
    flex-direction: column;
  }

  .overlay .popup-form__input {
    width: 80%;
    margin: 1%;
  }

  .overlay .popup-form__btn {
    width: 80%;
    margin: 1%;
  }


}

@media (max-width: 380px) {

  .img-container {
    grid: repeat(6, 100px) / repeat(3, 100px);
    grid-gap: 5px;
  }

}