.logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.logo__text {
    position: relative;
    color: rgb(103, 184, 45);
    font-size: 23px;
    margin: 0 auto;
    display: inline;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
}

.logo__span {
    color: rgb(110, 110, 110);
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 580px) {
    .logo {
        padding: 0 30px;
    }
}